*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; 
}
html {
    box-sizing: border-box; 
  }
.wrapper {
    width: 50%;
    height: 50%;
    margin: .4rem auto;
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
.box {
    background-color: #444;
    color: #fff;
    border-radius: 10px;
    
}

.a {
    grid-column: 1 / 3;
    grid-row: 1;
    
}
.b {
    grid-column: 3 ;
    grid-row: 1 ;
    
}
.c {
    grid-column: 1 ;
    grid-row: 2/4 ;
   
}
.d {
    grid-column: 2;
    grid-row: 2;
    
}
.e {
    grid-column: 2;
    grid-row: 3;
    
}
.f {
    grid-column: 3;
    grid-row: 2/4;
    
}
.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    
}
.wrapper figure img {
    border-radius: 5px;
}